---
import { container } from '@variants/container';
import { linkHover } from '@variants/linkHover';
import Layout from '../layouts/Layout.astro';
import SectionHeading from '@components/SectionHeading.astro';
import TopNewsCards from '@components/TopNewsCards.astro';
import TopConceptSlider from '@components/TopConceptSlider.astro';
import TopOtherContentsList from '@components/TopOtherContentsList.astro';
---

<Layout title="Astroとtailwindの練習用サイト">
	<main>
		<section class="bg-kv-bg h-[100vh] md:min-h-[845px] md:mt-[-60px]">
			<div
				class={container({
					class: 'flex h-full items-end pb-100 md:items-center',
				})}
			>
				<div class="flex flex-col" data-fadein="y-sequence">
					<h1 class="font-raleway font-bold text-4xl md:text-kv">DEVICE PRO</h1>
					<p
						class="font-bold tracking-wider leading-normal text-2md md:text-2xl"
					>
						あなたのビジョンをかなえる<br />新型デバイスが登場
					</p>
				</div>
			</div>
		</section>
		<section class="py-[50px] md:py-[100px]">
			<div class={container()}>
				<SectionHeading text="NEWS" />
				<div class="flex justify-between mt-[10px] md:mt-[30px]">
					<p class="leading-tight text-2sm md:text-base" data-fadein="x">
						最新のニュース情報を随時更新中。
					</p>
					<a
						class={linkHover({
							class: 'underline font-bold leading-tight text-2sm md:text-base',
						})}
						href="/news/"
						data-fadein="x">NEWS一覧へ</a
					>
				</div>
				<TopNewsCards />
			</div>
		</section>
		<section class="bg-section-bg md:py-[100px] py-[50px]">
			<div class={container()}>
				<SectionHeading
					text="CONCEPT"
					align={{
						sm: 'left',
						md: 'center',
					}}
				/>
				<p
					class="font-bold leading-normal text-2md tracking-normal mt-[20px] md:mt-[30px] md:text-center md:text-2xl"
					data-fadein="y"
				>
					最新のAI技術とビッグデータ解析を駆使し、<br
						class="md:block hidden"
					/>顧客のニーズに合わせた最適なソリューションを提供します。<br
					/>企業の競争力を高め、<br
						class="md:block hidden"
					/>業務効率を劇的に向上させるためのサポートを行います。
				</p>
				<TopConceptSlider />
			</div>
		</section>
		<section class="bg-white md:py-[100px] py-[50px]">
			<div class={container()}>
				<SectionHeading text="OTHER CONTENTS" />
				<div
					class="grid w-full grid-cols-1 mt-[10px] md:grid-cols-[calc(((5_/_12)_*_100%)_-_10px)_calc(((7_/_12)_*_100%)_-_10px)] md:gap-[20px] md:mt-20 md:items-center"
				>
					<p
						class="leading-normal text-2sm md:text-base"
						data-fadein="y-sequence"
					>
						テキストが入りますテキストが入ります..テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
					</p>
					<TopOtherContentsList />
				</div>
			</div>
		</section>
	</main>
</Layout>
