---
import { button } from '@variants/button';
import { container } from '@variants/container';
import { linkHover } from '@variants/linkHover';

const nav = [
	{
		name: 'NEWS',
		url: '/news/',
	},
	{
		name: 'ABOUT',
		url: '/about/',
	},
	{
		name: 'TECHNOLOGY',
		url: '/technology/',
	},
	{
		name: 'FEATURE',
		url: '/feature/',
	},
];
---

<footer
	class={container({
		wide: 'header',
		class: 'bg-footer h-fit',
	})}
>
	<div class="flex py-[20px] md:justify-between max-md:flex-col">
		<h1
			class="text-header-sp leading-tight font-raleway font-bold md:pl-[20px] md:text-header"
		>
			Logo
		</h1>
		<nav class="max-md:mt-[20px]">
			<ul class="flex gap-20 md:flex-col">
				{
					nav.map((item) => (
						<li
							class={linkHover({
								class: 'text-[16px] font-bold',
							})}
						>
							<a class="w-full h-full cursor-pointer md:px-2.5">{item.name}</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</footer>
