---
import { button } from '@variants/button';
import { container } from '@variants/container';
import { linkHover } from '@variants/linkHover';

const nav = [
	{
		name: 'NEWS',
		url: '/news/',
	},
	{
		name: 'ABOUT',
		url: '/about/',
	},
	{
		name: 'TECHNOLOGY',
		url: '/technology/',
	},
	{
		name: 'FEATURE',
		url: '/feature/',
	},
];
---

<footer
	class={container({
		wide: 'header',
		class: 'bg-footer h-fit',
	})}
>
	<div class="flex justify-between py-[20px]">
		<h1 class="text-header leading-tight font-raleway font-bold pl-[20px]">
			Logo
		</h1>
		<nav>
			<ul class="flex flex-col gap-[20px]">
				{
					nav.map((item) => (
						<li
							class={linkHover({
								class: 'text-[16px] font-bold',
							})}
						>
							<a class="px-2.5 w-full h-full cursor-pointer">{item.name}</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</footer>
