---
import { button } from '@variants/button';
import { container } from '@variants/container';
import { linkHover } from '@variants/linkHover';

const nav = [
	{
		name: 'NEWS',
		url: '/news/',
	},
	{
		name: 'ABOUT',
		url: '/about/',
	},
	{
		name: 'TECHNOLOGY',
		url: '/technology/',
	},
	{
		name: 'FEATURE',
		url: '/feature/',
	},
];
---

<header
	class={container({
		wide: 'header',
		class: 'fixed z-[999] top-0',
	})}
>
	<div class="flex justify-between items-center h-full">
		<h1
			class="text-header-sp leading-tight font-raleway font-bold md:text-header"
		>
			Logo
		</h1>
		<nav
			id="js-nav-menu"
			class="max-md:absolute max-md:w-full max-md:h-[100vh] max-md:top-0 max-md:left-0 max-md:hidden max-md:justify-center max-md:items-center max-md:bg-black/30 max-md:backdrop-blur-md"
		>
			<ul class="flex items-center flex-col gap-30 md:flex-row md:gap-[20px]">
				{
					nav.map((item) => (
						<li
							class={linkHover({
								class: 'text-header-sp font-bold md:text-[16px]',
							})}
						>
							<a href={item.url} class="px-2.5 w-full h-full cursor-pointer">
								{item.name}
							</a>
						</li>
					))
				}
				<li
					class={button({
						color: 'primary',
					})}
				>
					<a href="/contact/">CONTACT</a>
				</li>
			</ul>
		</nav>
		<span id="js-hamburger-button" class="md:hidden w-5 h-5 bg-black z-[999]"
		></span>
	</div>
</header>

<script>
	const hamburgerButton = document.getElementById('js-hamburger-button');
	const navMenu = document.getElementById('js-nav-menu');

	hamburgerButton?.addEventListener('click', () => {
		if (navMenu?.classList.contains('max-md:hidden')) {
			navMenu.classList.remove('max-md:hidden');
			navMenu.classList.add('max-md:flex', 'animate-fadeIn');
		} else {
			navMenu?.classList.remove('animate-fadeIn');
			navMenu?.classList.add('animate-fadeOut');
			setTimeout(() => {
				navMenu?.classList.add('max-md:hidden');
				navMenu?.classList.remove('max-md:flex', 'animate-fadeOut');
			}, 500); // Duration should match the fadeOut animation duration
		}
	});
</script>
